PORT=7002
OPENSSL_BIN=openssl
OPENSSL_CONFIG=openssl.cnf
CA_DIR=authority
CA_SUBJECT=/C=VN/O=SecureStorage/OU=Dev/CN=SecureStorage Root CA
CA_KEY_BITS=4096
CA_DAYS=3650
CERT_DAYS=365
CERT_SUBJECT_PREFIX=/C=VN/O=SecureStorage/OU=Dev/CN=
CA_API_KEY=2006fc97ac0b15866d0800854510a73f54f31ea5b91b7099f3d4dd7c4d9be700

DB_URL="postgresql://postgres:MK@localhost:5432/secure_storage?schema=public"
